$gs-primary: (
    50: #e0eef7,
    100: #b3d4eb,
    200: #80b8de,
    300: #4d9cd0,
    400: #2686c6,
    500: #0071bc,
    600: #0069b6,
    700: #005ead,
    800: #0054a5,
    900: #004297,
    A100: #c2d8ff,
    A200: #8fb7ff,
    A400: #5c97ff,
    A700: #4287ff,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #fff,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  )
);

$gs-gold: (
    50 : #f9f5e4,
    100 : #f1e6bc,
    200 : #e8d590,
    300 : #dec463,
    400 : #d7b841,
    500 : #d0ab20,
    600 : #cba41c,
    700 : #c49a18,
    800 : #be9113,
    900 : #b3800b,
    A100 : #fff5e0,
    A200 : #ffe4ad,
    A400 : #ffd37a,
    A700 : #ffca60,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$gs-error: (
    50 : #fcede9,
    100 : #f6d2c8,
    200 : #f1b4a3,
    300 : #eb967e,
    400 : #e68063,
    500 : #e26947,
    600 : #df6140,
    700 : #da5637,
    800 : #d64c2f,
    900 : #cf3b20,
    A100 : #ffffff,
    A200 : #ffd9d4,
    A400 : #ffada1,
    A700 : #ff9787,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
